	body{
		background-color: black;
		background-image: url(rainbow.jpg);
		background-size: cover;
	}
	.contain{
		text-align: center;
		display: inline;
		position: relative;
	}

	/* icons */
	.icons{
		width: 60px;
		height: 300px;
		background-color: pink;
		font-size: 36px;
		text-align: center;
		border: 3px solid #0000FF;
		border-radius: 10px;
	}
	.fa{
		width: 60px;
		height: 60px;
		color: white;
		display: inline-block;
		transition-duration: 0.5s;
	}
	.fa:hover{font-size: 48px; cursor: pointer;}
	.fa-github:hover{color: grey;}
	.fa-facebook-square:hover{color: rgb(59, 89, 152);}
	.fa-youtube-square:hover{color: rgb(223, 41, 37);}
	.fa-wordpress:hover{color: rgb(30, 140, 189);}
	.fa:link{color: black;}
	a{text-decoration: none;}

	/* 清單 */
	.list{
		width: 300px;
		height: 300px;
		background-image: url(body_bg.png);
		background-size: auto;
		display: inline-block;
		text-align: center;
		border: 3px solid yellow;
		border-radius: 10px;
	}
	.text{
		color: #00FF00;
		font-size: 30px;
		text-decoration: none;
		transition-duration: 0.5s;
	}
	.text:hover{
		color: #FF00FF;
		border: 3px solid yellow;
		border-radius: 10px;
	}
	.text:active{
		color: #FF0000;
	}
	.title{
		text-align: center;
		color: #55CCFF;
		font-size: 50px;
	}
	