	/* 自訂參數 */
	:root{

		/* color */
		--milk: rgb(255, 237, 136);
		--bargreen: #5F5;
		--lightblue: rgb(17, 204, 255);
		--bodypink: rgb(255, 102, 136);
		--github-color: grey;
		--facebook-color: rgb(59, 89, 152);
		--youtube-color: rgb(223, 41, 37);
		--wordpress-color: rgb(30, 140, 189);
		--shadow-color: none;
		--line-color: none;

		/* 
		display : inline / inline-block / inline-flex / inline-grid / inline-table
		position : relative / absolute

		auto -> inline
		*/
		--top-display: auto;
		--top-position: auto;

		--mid-display: inline-flex;
		--mid-position: auto;

		--introduction-display: flex;
		--introduction-position: auto;

		--top-z-index: 0;
		--mid-z-index: 0;
		--introduction-z-index: 0;
	}

	body{
		width: auto;
		height: auto;
		background-color: var(--milk);
		background-size: auto;
		font-family: Microsoft JhengHei;
	}

	/* 內容 */
	.contain{
		width: auto;
		height: auto;
		text-align: auto;
	}

	/* 橫幅 */
	.top{
		width: auto;
		height: auto;
		display: var(--top-display);
		position: var(--top-position);
		z-index: var(--top-z-index);
	}
	.bar{
		width: 360px;
		height: auto;
		background-color: var(--bargreen);
		border: 5px solid none;
		border-radius: 10px;
		box-shadow: 0px 0px 0px var(--shadow-color);
		transition-duration: 0.5s;
		cursor: pointer;
	}
	.barfont{
		font-size: 50px;
		font-weight: bolder;
		color: var(--milk);
		transition-duration: 0.5s;
	}
	.barfont:hover{
		color: yellow;
	}

	/* 中間 */
	.mid{
		display: var(--mid-display);
		position: var(--mid-position);
		width: auto;
		height: auto;
		top: 50%;
		margin-top: 5px;
		margin-bottom: 5px;
		text-align: center;
		z-index: var(--mid-z-index);
	}

	/* Social Icons*/
	.icons{
		width: 55px;
		height: auto;
		font-size: 36px;
		background-color: var(--bodypink);
		border: 3px solid none;
		border-radius: 10px;
		box-shadow: 0px 0px 0px var(--shadow-color);
		padding-top: 30px;
	}
	.social{
		font-size: 20px;
		color: var(--bodypink);
		background-color: var(--milk);
		border: 3px solid none;
		border-radius: 0px;
	}
	.line{
		width: auto;
		height: 10px;
		background-color: var(--milk);
		border: 0px;
	}
	.bt{
		color: var(--milk);
		margin-top: 0px;
		margin-bottom: 20px;
		cursor: pointer;
		transition-duration: 0.5s;
	}
	.icon{
		width: 60px;
		height: 60px;
		color: var(--milk);
		transition-duration: 0.5s;
	}
	.icon:hover{font-size: 48px; cursor: pointer;}
	.fa-github:hover{color: var(--github-color);}
	.fa-facebook-square:hover{color: var(--facebook-color);}
	.fa-youtube-square:hover{color: var(--youtube-color);}
	.fa-wordpress:hover{color: var(--wordpress-color);}
	.fa:link{color: black;}
	a{text-decoration: none;}

	/* 清單 */
	.list{
		width: 300px;
		height: 400px;
		/*background-image: url(body_bg.png);*/
		background-color: purple;
		background-size: auto;
		text-align: center;
		border: 3px solid none;
		border-radius: 10px;
		box-shadow: 0px 0px 0px var(--shadow-color);
		margin-left: 5px;
	}
	.title{
		width: auto;
		height: auto;
		color: var(--milk);
		font-size: 30px;
		font-weight: bolder;
	}
	.text{
		color: black;
		font-size: 30px;
		text-decoration: none;
		transition-duration: 1s;
	}
	.text:hover{
		color: white;
		background-color: var(--bodypink);
		font-weight: bolder;
		border: 3px solid none;
		border-radius: 10px;
		box-shadow: 0px 10px 10px var(--milk);
	}
	.text:active{
		color: var(--milk);
		box-shadow: 0px 0px 0px var(--milk);
	}

	/* 作者 */
	.introduction{
		width: auto;
		height: auto;
		top: 50%;
		left: 50%;
		margin-top: 0px;
		margin-left: 60px;
		margin-bottom: 0px;
		display: var(--introduction-display);
		position: var(--introduction-position);
		text-align: left;
		z-index: var(--introduction-z-index);
	}
	.author{
		width: 300px;
		height: 500px;
		color: var(--bodypink);
		background-color: var(--lightblue);
		border: 3px solid none;
		border-radius: 10px;
		box-shadow: 0px 0px 0px var(--shadow-color);
		transition-duration: 0.5s;
	}
	.author:hover{
		color: var(--lightblue);
		background-color: var(--bodypink);
	}
	.author-line{
		width: auto;
		height: 5px;
		background-color: var(--milk);
		border: 0px;
	}
	.authorfont{
		width: auto;
		height: auto;
		font-size: 30px;
		font-weight: bolder;
		transition-duration: 0.5s;
		cursor: pointer;
	}
	.authorfont:hover{
		color: var(--milk);
	}
	.authorfont:active{
		padding-left: 20px;
	}
	.fun{
		width: 270;
		height: 270;
		cursor: pointer;
		transition-duration: 0.5s;
		border-radius: 10px;
	}
	.fun:active{
		padding-left: 20px;
	}