body{
	background-color: rgb(54,63,69);
	font-weight: bold;
	width: auto;
	height: auto;
	margin-top: 1.5%;
	margin-left: 1%;
}

.goback{
	margin-bottom: 1.5%;
}

.gobacktitle{
	color:blue;
	font-size:30px;
	background-color:pink;
	text-decoration: none;
    border:5px orange solid;
}

.toolbar{
	text-align: center;
}

.title{
	//text-align: center;
	color: blue;
}

.day{
	//text-align: center;
	color: blue;
	width: 150px;
	height: 20px;
}

.times{
	//text-align: center;
	color: blue;
	width: 110px;
	height: 40px;
}

td{
	//color: blue;
	font-size: 20px;
	background-color: rgb(214,216,217);
}

.band{
	color: black;
	width: 150px;
	height: 40px;
}

.d1{
	background-color: PaleVioletRed ;
}

.d2{
	background-color: LightBlue ;
}

.d3{
	background-color: LightGreen ;
}

.d4{
	background-color: LightGoldenRodYellow ;
}

.d5{
	background-color: MediumPurple ;
}

.d6{
	background-color: Khaki ;
}

.d7{
	background-color: LightPink ;
}