body{
	background-color: grey;
}

.main{
    //margin-left: 5%;
}

.top{
    //margin-top: 1%;
}

.tp1{
    //position: relative;
}

.popmusic_logo{
    background-image: url('popmusic.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: inherit;
    background-size: cover;
    width: 400px;
    height: 400px;
}

.admin{
    color: skyblue;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.tp2{
    //position: relative;
    //left: 13%;
}

.toolbar{
    text-align: center;
    border: 5px orange solid;
}

.excel-table{
    //text-align: center;
}

.excel {
    height: 330px;
}

.font{
    font-size: 18px;
    color: yellow;
    text-decoration:none;
}

.mid{
    //position: relative;
    //margin-top: 5%;
}

.bottom{

}

@media screen and (min-width: 950px) {
    body {
        padding-left: 150px;
        padding-right: 150px;
    }
}

.fc-left,
.fc-right {
    font-size: 16px;
    color: #000;
}
 
.fc-today {
    background-color: #DDD !important
}

.fc-toolbar {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888888;
    background-color: white;
    text-shadow: 0 0 5px #C6C6C6;
}
 
.fc-view-container {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888888;
    background-color: white;
}
 
.fc-day-number {
    font-size: 20px;
}

