body{
	background-color: grey;
    //background-color: #E0E0E0;
    font-family:"微軟正黑體";
}

.main{
    //margin-left: 5%;
}

.top{
    //margin-top: 1%;
}

.tp1{
    //position: relative;
}

.popmusic_logo{
    background-image: url('popmusic.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: inherit;
    background-size: cover;
    width: 400px;
    height: 400px;
}

.admin{
    color: skyblue;
    font-weight: bold;
    text-align: center;
}

.tp2{
    //position: relative;
    //left: 13%;
    padding-top: 1.5%;
}

.toolbar{
    //margin-top: 10%;
    font-size: 24px;
    text-align: center;
    border: 5px orange solid;
    width: auto;
}

.columns{
    //width: 500px;
}

.font{
    color: yellow;
    text-decoration: none;
}

.excel-table{
    //text-align: center;
}

.excel {
    height: 330px;
}
.mid{
    //position: relative;
    //margin-top: 5%;
}

.bottom{

}

/*
@media screen and (min-width: 950px) {
    body {
        padding-left: 10%;
        padding-right: 10%;
    }

    #calendar{
        //padding-left: 10%;
        //padding-right: 10%;
    }
}
*/

.fc-left,
.fc-right {
    font-size: 20px;
    color: #000;
}
 
.fc-today {
    background-color: #DDD !important
}

.fc-toolbar {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888888;
    background-color: white;
    text-shadow: 0 0 5px #C6C6C6;
}
 
.fc-view-container {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #888888;
    background-color: white;
}
 
.fc-day-number {
    font-size: 20px;
}

.fc-content{
    font-size: 18px;
    font-weight: bold;
    font-family:"微軟正黑體";
    //font-family:"標楷體";
    //font-family:"新細明體";
    text-align: center;
}