body{
    background-color: grey;
}
.contain{
    width: 825px;
    height: 750px;
    margin-left: 20%;
    margin-top: 2.5%;
    background-color: darkgrey;
}
.header{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 9px;
}
.title{
    color: white;
    font-size: 50px;
    cursor: pointer;
    transition-duration: 0.5s;
    text-decoration: none;
}
.title:hover{
    color: green;
}
.window{
    width: 675px;
    height: 600px;
    background-color: white;
    margin-left: 75px;
    /*margin-top: 25px;*/
}
.player{
    width: 75px;
    height: 75px;
    background-color: red;
    color: blue;
    font-size: 50px;
    cursor: pointer;
}
