body{
    background-color: grey;
}
.contain{
    width: 750px;
    height: 750px;
    text-align: center;
    margin-left: 20%;
    margin-top: 2.5%;
    background-color: darkgrey;
}
.title{
    color: white;
    font-size: 50px;
    padding-top: 1.25%;
    cursor: pointer;
    transition-duration: 0.5s;
    text-decoration: none;
}
.title:hover{
    color: yellow;
}
.window{
    width: 600px;
    height: 600px;
    background-color: white;
    margin-left: 12.5%;
    margin-top: 2.5%;
}
.player{
    width: 75px;
    height: 75px;
    background-color: black;
    cursor: pointer;
}
