/* 自訂參數 */
:root{

	/* color */
	--milk: rgb(255, 237, 136);
	--bargreen: #5F5;
	--lightblue: rgb(17, 204, 255);
	--bodypink: rgb(255, 102, 136);
	--github-color: grey;
	--facebook-color: rgb(59, 89, 152);
	--youtube-color: rgb(223, 41, 37);
	--wordpress-color: rgb(30, 140, 189);
	--medium-color: rgb(0, 0, 0);

	/*
	display : inline / inline-block / inline-flex / inline-grid / inline-table
	position : relative / absolute

	auto -> inline
	*/

	--mid-width: 340px;
}

*{
	font-family: '微軟正黑體';
	font-weight: bold;
}

body{
	background-color: var(--milk);
}

a{
  text-decoration: none;
}

.bar{
	width: var(--mid-width);
	height: auto;
	background-color: var(--facebook-color);
	border-radius: 10px;
	transition-duration: 0.5s;
	margin-left: 60px;
}

.barfont{
	font-size: 50px;
	font-weight: bold;
	color: black;
	transition-duration: 0.5s;
}

.barfont:hover{
	color: var(--milk);
  text-decoration: none;
}

/* 中間 */
#mid{
	width: auto;
	height: 400px;
}

/* horizon line */
.line{
	width: auto;
	height: 5px;
	background-color: var(--milk);
	border: 0px;
}

/* Social Icons*/
#social-list{
	width: 55px;
	height: auto;
	font-size: 36px;
	background-color: var(--bodypink);
	border-radius: 10px;
	padding-top: 21px;
	line-height: 16px;
}

.social-font{
	font-size: 18.5px;
	color: var(--bodypink);
	background-color: var(--milk);
	border: 1px solid var(--bodypink);
	border-radius: 0px;
}

.bt{
	color: var(--milk);
	margin-top: 0px;
	margin-bottom: 20px;
	cursor: pointer;
	transition-duration: 0.5s;
}

.icon{
	width: 60px;
	height: 60px;
	color: var(--milk);
	transition-duration: 0.5s;
}

.icon:hover{
	font-size: 48px;
}

.fa-facebook-square:hover{color: var(--facebook-color);}
.fa-youtube:hover{color: var(--youtube-color);}
.fa-github:hover{color: var(--github-color);}
.fa-wordpress:hover{color: var(--wordpress-color);}
.fa-medium:hover{color: var(--medium-color);}
.fa:link{color: black;}

/* 清單 */
.list{
	width: var(--mid-width);
	height: auto;
	/* background-color: black; */
	border-radius: 10px;
}

.title{
	width: auto;
	height: auto;
	color: white;
	font-size: 35px;
	font-weight: bold;
}

.text{
	color: white;
	font-size: 26px;
	transition-duration: 1s;
}

.text:hover{
	color: var(--milk);
	text-decoration: none;
	border-radius: 10px;
}

.text:active{
	color: var(--bodypink);
}

/* 作者 */
#introduction{
	width: auto;
	height: auto;
	width: var(--mid-width);
	height: 550px;
	margin-left: 60px;
	background-color: var(--lightblue);
	border-radius: 10px;
	transition-duration: 0.5s;
}

.authorfont{
	font-size: 30px;
	transition-duration: 0.5s;
	cursor: pointer;
	text-align: left;
}

.authorfont:hover{
	color: var(--milk);
}

.fun {
	width: var(--mid-width);
	height: auto;
	text-align: center;
	padding-top: 10px;
}

.img {
	width: 270px;
	height: 270px;
	border-radius: 10px;
	transition-duration: 0.5s;
	cursor: pointer;
}

.img:active {
	padding-top: 10px;
}
